/***** font *****/
$titleFont: 'Poppins', sans-serif;
$textFont: 'Inter', sans-serif;

/***** colors *****/
$white: #FFFFFF;
$orange: #FE5E41;
$light: #F2F2F2;
$textColor: #1E1E1E;
$green: #00A878;

/***** size *****/
$maxWidth: 1440px;

